{
    "serialNumber": "#randNum(10)-#index()",
    "contractGlobalId: "#guid()",
    "gender": #bool(),
    "orderID":#randNum(8),
    "orderType":1,
    "userID":33103835,
    "productType":4,
    "journalVoucherType":2,
    "thirdPartyID":0,
    "dealGroupID":#randNum(7),
    "dealID": #dataSource("dealId", "excel"),
    "productSnapshotID":0,
    "shopID":8045677,
    "dealSnapshotID":0,
    "quantity":1,
    "price": #numeric(100.0, 200.5, "#0.0"),
    "totalAmount": #numeric(500.1, 1000.5, "#0.00"),
    "dealPrice":#numeric(100.0, 200.5, "#0.00"),
    "dealMarketPrice":#numeric(100.0, 200.5, "#0.000"),
    "commission": #numeric(1, 10),
    "addDate":#date("yyyy-MM-dd hh:mm:ss"),
    "dealBeginDate":#timeBeforeNow(7, "day"),
    "dealEndDate":#timeAfterNow(7, "day"),
    "dealGroupTitle":"70后饭吧",
    "dealTitle":"充100元送100元"
}